{% extends 'main.html' %} {% block content %}
<style>
  .room-container {
    font-family: "Hind Siliguri", sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: justify;
  }

  .room-main {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .room-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .room-elements h1 {
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-family: "Trispace", sans-serif;
  }

  .room-elements p {
    padding: 1rem;
    letter-spacing: 0.4px;
  }

  .comment-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .comment-wrapper h3 {
    font-family: "Hind Siliguri", sans-serif;
  }

  .comment-form form {
    display: flex;
    flex-direction: column;
  }

  .comment-form textarea {
    padding: 1rem;
    width: 40%;
  }

  .comment-form .yorum-gonder {
    padding: 1rem;
    width: 150px;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin: 0.8rem 0 1.6rem 0;
    font-family: "Roboto Slab", serif;
  }

  .room-comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .room-comments {
    border: 1px solid rgb(15, 29, 70);
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 1rem;
    padding: 1rem;
    max-width: 700px;
  }

  .room-comment-container {
    display: flex;
    justify-content: space-between;
  }

  .message-time {
    color: gray;
  }

  .message-user {
    color: black;
    font-weight: bold;
    font-size: 1.35rem;
  }

  .message-delete {
    color: blue;
    text-decoration: none;
  }

  .participants {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
  }

  .participants h3 {
    box-shadow: 0px 0px 2px 4px rgba(94, 0, 0, 0.4);
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .participants-username {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.35rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .yorum-body {
    overflow-wrap: break-word;
    padding: 1rem 3rem 1rem 3rem;
  }

  .hr {
    margin-bottom: 1rem;
  }
</style>

<hr class="hr" />

<div class="room-container">
  <div class="room-main">
    <div class="room-elements">
      <h1 class="room-name">{{room.name}}</h1>
      <p>{{room.description}}</p>
    </div>

    <div class="comment-wrapper">
      <h3>Comments</h3>

      {% if request.user.is_authenticated %}
      <div class="comment-form">
        <form action="" method="POST">
          {% csrf_token %}
          <textarea
            name="body"
            placeholder="Write your message here..."
            maxlength="1000"
            rows="5"
            cols="50"
          ></textarea>
          <div class="den">
            <input
              class="yorum-gonder"
              type="submit"
              name=""
              id=""
              value="COMMENT"
            />
          </div>
        </form>
      </div>
      {% endif %} {% for message in roomMessages %}

      <div class="room-comments">
        <div class="room-comment-container">
          <div class="small-container">
            <small class="message-user"> @{{message.user}}</small>
            <small class="message-time"
              >{{message.created|timesince}} ago</small
            >
          </div>
          {% if request.user == message.user %}
          <a class="message-delete" href="{% url 'delete-message' message.id %}"
            >Delete</a
          >
          {% endif %}
        </div>
        <p class="yorum-body">{{message.body}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="participants">
    <h3>Participants</h3>
    {% for user in participants %}
    <p class="participants-username">@{{user.username}}</p>
    {% endfor %}
  </div>
</div>
{% endblock content %}
